body{

background-color:rgba(223, 139, 13, 0.721)

}
h1{

color: rgb(51, 39, 23);

text-align: center;

}

nav{

text-align: center;

}

p{

color:rgb(245, 245, 245);

}

h4{

color: aliceblue;

}

h3{

text-decoration: pink;
}